*
{
    margin: 10;
    padding: 0;
}

body
{
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: black;
}
  
::-webkit-scrollbar-thumb {
   background: #6ef759;
}

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar
{
    background: #000000;
    padding: 0 !important;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    color: #6ef759 !important;
    float: right;
    text-align: left;
}

.features-boxed {
    color: #6ef759;
    background-color: #6ef759;
}
  
.features-boxed p {
    color: #6ef759;
}
  
.features-boxed h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}
  
@media (max-width:767px) {
    .features-boxed h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }
}
  
.features-boxed .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}
  
.features-boxed .intro p {
    margin-bottom: 0;
}
  
.features-boxed .features {
    padding: 50px 0;
}
  
.features-boxed .item {
    text-align: center;
}
  
.features-boxed .item .box {
    text-align: center;
    padding: 30px;
    background-color: #000000;
    margin-bottom: 30px;
}
  
.features-boxed .item .icon {
    font-size: 60px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 35px;
}
  
.features-boxed .item .name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 0;
    color: inherit;
}
  
.features-boxed .item .description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
  
a {
    color: #6ef759;
}

div#features {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 25px;
    background: #161313;
}

.footer-dark {
    padding: 50px 0;
}
  
.footer-dark .item.text {
    margin-bottom: 36px;
}
  
.footer-dark .item.social {
    text-align: center;
}
  
.footer-dark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
    margin: 0 8px;
    color: #6ef759;
    opacity: 0.75;
    justify-content: center;
    align-items:center;
}
  
.footer-dark .item.social > a:hover {
    background-color: #6ef759;
    color: #000000;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  
.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
}

.fts {
    display: flex;
    justify-content: space-between;
}
